[submodule "data/dxy-data"]
	path = data/dxy-data
	url = https://github.com/BlankerL/DXY-COVID-19-Data
[submodule "data/jhu-data"]
	path = data/jhu-data
	url = https://github.com/CSSEGISandData/COVID-19
[submodule "data/italy-data"]
	path = data/italy-data
	url = https://github.com/DavideMagno/ItalianCovidData
[submodule "data/france-data"]
	path = data/france-data
	url = https://github.com/cedricguadalupe/FRANCE-COVID-19
