[submodule "data/dxy-data"]
	path = data/dxy-data
	url = https://github.com/BlankerL/DXY-COVID-19-Data
[submodule "data/jhu-data"]
	path = data/jhu-data
	url = https://github.com/CSSEGISandData/COVID-19
[submodule "data/france-data"]
	path = data/france-data
	url = https://github.com/cedricguadalupe/FRANCE-COVID-19
[submodule "data/italy-dpc-data"]
	path = data/italy-dpc-data
	url = https://github.com/pcm-dpc/COVID-19
[submodule "data/eu-data"]
	path = data/eu-data
	url = https://github.com/covid19-eu-zh/covid19-eu-data
[submodule "data/japan-data"]
	path = data/japan-data
	url = https://github.com/swsoyee/2019-ncov-japan
[submodule "data/spain-data"]
	path = data/spain-data
	url = https://github.com/datadista/datasets
    ignore = dirty
[submodule "data/switzerland-data"]
	path = data/switzerland-data
	url = https://github.com/daenuprobst/covid19-cases-switzerland
[submodule "data/uk-data"]
	path = data/uk-data
	url = https://github.com/tomwhite/covid-19-uk-data
